*{color:white;}
a {font-size:20px;
color:white;
}
h1 {color:white;}
table {color:white;}
table tr {color:white;}
table td {color:white;}
body {background: url("badut.jpg");
      background-size:100%;
	  }